{{!-- gear card container --}}
<div class="heading"></div>
<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

    {{!-- gear card template --}}
    {{#each gear as |item|}}
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <h5 class="card-header">{{item.name}}</h5>
        <div class="card-body">
          <p class="card-text">{{item.description}}</p>
          <p class="card-text">Owner: {{item.owner_name}}</p>
          <a href="/api/borrow/{{item.id}}"><button type="button" class="btn btn-outline-primary">Checkout</button></a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>