{{!-- navbar --}}
<header class=" p-2">
  <nav class="d-flex justify-content-end">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Lawn & Garden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Sports Gear</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MyGear</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </nav>
</header>

{{!-- gear card container --}}
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    {{!-- gear card template --}}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lawn Mower</h5>
          <p class="card-text">Description: A gasonline powered 2-cycle engine w/push start.</p>
          <p>Due Date:</p>
          <button>Checkout</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cup of Sugar</h5>
          <p class="card-text">Description: White sugar in crystal bowl; I want my bowl back!!!</p>
          <p>Due Date:</p>
          <button>Checkout</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Baseball Glove</h5>
          <p class="card-text">Description: A leather baseball glove.
          </p>
          <p>Due Date:</p>
          <button>Checkout</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lawn Mower</h5>
          <p class="card-text">Description: A gasonline powered 2-cycle engine w/push start.</p>
          <p>Due Date:</p>
          <button>Checkout</button>
        </div>
      </div>
    </div>

  </div>
</div>