<h2>Update password:</h2>

<form class="form useredit-form">
  <div class="form-group">
    <label for="password-edit">Enter new password:</label>
    <input class="form-input" type="password" id="password-edit" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>

<script src="/js/edituser.js"></script>