<div class="container w-50 p-5">
  <main class="form-signin">
    <form class="useredit-form">
      <h1 class="h3 mb-3 fw-normal">Update Password</h1>

      <div class="form-floating">
        <input type="password" class="form-control" id="password-edit" placeholder="Enter new password">
        <label for="password-edit">New Password</label>
      </div>

      <button type="submit" class="btn formBtn m-2">Update</button>
    </form>
  </main>
</div>

<script src="/js/edituser.js"></script>