<h2>Update password:</h2>

<form class="form useredit-form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password-edit">New Password</label>
      <input type="password" class="form-control" id="password-edit" placeholder="Enter new password">
    </div>
  </div>

  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="/js/edituser.js"></script>