<h2>Check Out Confirmation</h2>

<form class="form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="checkout-date">Select your checkout date:</label>
      <input type="text" class="form-control" id="checkout-date">
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Checkout</button>
</form>

<script src="/js/checkout.js"></script>