<header class=" p-2">
    <nav class="d-flex justify-content-between align-center">
      <div>
        <h2>Need a cup of su<em>Gear</em>?</h2>
      </div>
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MyGear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </nav>

  </header>
  <div class="hero">
    <h5>
      Welcome to Cup of Sugar, where neighbors borrow and lend!
    </h5>
  </div>
  <div class="container container-fluid mt-5">
    <div class="d-flex flex-wrap row justify-content-between">
      <div class="card col-3 m-2">
        <h3>Home Goods</h3>
        <p>description</p>
      </div>
      <div class="card col-3 m-2">
        <h3>Lawn and Landscaping</h3>
        <p>description</p>
      </div>
      <div class="card col-3 m-2">
        <h3>Sports and Recreation</h3>
        <p>description</p>
      </div>
    </div>
  </div>