<div class="container w-50 p-5">
  <main class="form-signin">
    <form class="login-form">
      <h1 class="h3 mb-3 fw-normal">Log In</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password-login" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-25 btn btn-lg btn-primary m-2" type="submit" id="loginBtn">Sign in</button>
    </form>
  </main>
</div>

<script src="/js/login.js"></script>