<nav class="d-flex justify-content-end">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Add Gear</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Browse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
</nav>

<h2 class="text-primary m-2">My Gear</h2>
<div class="container container-fluid mt-5">
    <div class="d-flx flex-wrap row">
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Borrower: Name</p>
            <a>Edit Item</a>
            <a>Delete</a>
        </div>
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Borrower: Name</p>
            <a>Edit Item</a>
            <a>Delete</a>
        </div>
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Borrower: Name</p>
            <a>Edit Item</a>
            <a>Delete</a>
        </div>
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Borrower: Name</p>
            <a>Edit Item</a>
            <a>Delete</a>
        </div>
    </div>
</div>
<br>
<h2 class="text-primary m-2">Borrowing Items</h2>
<div class="container container-fluid mt-5 ">
    <div class="d-flx flex-wrap row">
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Owner: Name</p>
            <a>Return Item</a>
        </div>
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Owner: Name</p>
            <a>Return Item</a>
        </div>
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Owner: Name</p>
            <a>Return Item</a>
        </div>
        <div class="card col-3 border-primary m-2">
            <h3>Item</h3>
            <p>Description: </p>
            <p>Due date: </p>
            <p>Owner: Name</p>
            <a>Return Item</a>
        </div>
    </div>
</div>