<div class="container w-50 p-5">
  <main class="form-login">
    <form class="signup-form">
      <h1 class="h3 mb-3 fw-normal">Log In</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="fname-login" placeholder="First Name">
        <label for="fname-login">First Name:</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="lname-login" placeholder="Last Name">
        <label for="lname-login">First Name:</label>
      </div>

      <div class="form-floating">
        <input type="email" class="form-control" id="email-login" placeholder="Email">
        <label for="email-login">Email:</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="password-login" placeholder="Password">
        <label for="password-login">Password</label>
      </div>

      <button type="submit" class="btn" id="signupBtn">Sign up</button>
    </form>
  </main>
</div>

<script src="/js/login.js"></script>