
:root {
    --Navy: rgb(29, 53, 94);
    /* --cornflower-dk: #003f88ff; */
    /* --blue-mod: #00509dff; */
    /* --yellow-med: #fdc500ff; */
    --yellow: rgb(255, 223, 61);
    --accent: rgb(58, 85, 51);
    }
    
.hero {
    /* height: 30vh; */
    background-color: var(--yellow);
    padding: 2%;
}
#addgearbtn, #editBtn, .formBtn{
    color: white;
    background-color: var(--Navy);
}
h2,h3, .nav-link, a p{
    color: var(--Navy);
}
.heading{
    background-color: var(--yellow);
    height: 45px;
    padding-left: 5px;
}
.card{
    border-color: var(--accent);
}

